<div class="wrapper">
    <div>clients page</div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Clients List</mat-label>
            <mat-select (selectionChange)="selectClient($event)">
                <mat-option *ngFor="let el of clientsList" [value]="el">
                {{el.firstName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Subscriptions List</mat-label>
            <mat-select (selectionChange)="selectPackages($event)">
                <mat-option *ngFor="let el of subscriptionsList" [value]="el">
                {{el.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <table mat-table [dataSource]="packagesList" class="mat-elevation-z8 partner-table" *ngIf="packagesList.length > 0">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="packageName">
              <th mat-header-cell *matHeaderCellDef> packageName </th>
              <td mat-cell *matCellDef="let element"> {{element.packageName}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="packageId">
              <th mat-header-cell *matHeaderCellDef> packageId </th>
              <td mat-cell *matCellDef="let element"> {{element.packageId}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="consumption">
              <th mat-header-cell *matHeaderCellDef> consumption </th>
              <td mat-cell *matCellDef="let element"> {{element.consumption}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>
